body {
            font-family: Arial, Helvetica, sans-serif, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #000000;
        }
        header {
            background-color: #46027e;
            color: rgb(255, 255, 255);
            padding: 1rem 0;
            text-align: center;
            
        }
        nav {
            background-color: #404140;
        }
        nav ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-decoration: none;
        }
        nav ul li {
            flex: 1;
        }
        nav ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        nav ul li a:hover {
            color: rgb(140, 0, 255);
        }
        .active {
            background-color: #ddd;
            color: black;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
        }
        .container1 {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            height: 700px;
            width: 550px;
        }
        .content {
            flex: 3;
            background-color: #ffffff;
            padding: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: absolute;
            bottom: 1;
            width: 100%;
        }